@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Conciliador Financeiro</h1>
        <p>Itaú GAD</p>

        <a class="nav-link text-dark" asp-area="" asp-controller="BalancoDia" asp-action="RelatorioMensal">Acessar sistema</a>
    </div>
