@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conciliador Financeiro</h1>
    <p>Itaú GAD</p>

    <a class="btn btn-primary" asp-area="" asp-controller="LancamentoFinanceiro" asp-action="Index">Acessar sistema</a>
</div>
